<%- include('partials/header') %>
<div class="jumbotron centered">
    <div class="container">
        <i class="fas fa-shield fa-6x"></i>
        <h1 class="display-4">Finbooke</h1>
        <p class="lead">Share your investment portfolio and updates</p>
        <hr class="my-4">
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
</div>

<%- include('partials/footer') %>