<%- include('partials/header') %>
<div class="container mt-5"
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                    <div class="card-body">
                    <form action="/register" method="POST">
                        <div class="mb-3">
                            <label for="inputEmail3" class="col-form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail3" name="username">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword3" class="col-form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword3" name="password"> 
                        </div>
                        <button type="submit" class="btn btn-dark">Register</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card social-block">
                <div class="card-body">
                    <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                        <i class="fab fa-google"></i>
                        Sign Up with Google
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>






<%- include('partials/header') %>